html {
  padding: 0;
  margin: 0;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  opacity: 1;
  animation: page-fade-in 0.1s forwards;
}

@keyframes page-fade-in {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

#main-section {
  display: flex;
  width: 100%;
  height: 400px;
}

#main-section-1 {
  border-right: 2px solid #9058c4;
  width: 600px;
  display: flex;
  flex-direction: column;
}

#mainIframe {
  height: 380px;
  flex: 1;
  flex-direction: column;
  display: flex;
}

#mainIframe-fade {
  margin: 10px;
  width: 300px;
}

#iframeSection {
  height: 100%;
}

.title-style-1 {
  color: rgb(60, 0, 128);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.ulSection {
  margin: 0 10px 0 5px;
  padding: 0;
}

.liSection {
  display: flex;
  justify-content: space-between;
  color: blueviolet;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.musicStatus:hover {
  background-color: violet;
}

.musicStatus {
  cursor: pointer;
  flex-flow: row-reverse;
  width: 20px;
  height: 20px;
  background-image: url(./music/play.png);
  background-size: 16px auto;
  background-position: center;
  background-repeat: no-repeat;
}

#contain {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#main-section-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#articleContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex: 1;
}

.animateBorder {
  border: 2px solid #ec07ec;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;
  flex: 1;
}

.titleType {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 102, 0);
}

#lyricDisplay {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

#progressDiv {
  height: 60px;
  width: 90%;
  color: aliceblue;
}

#progress {
  height: 20px;
  position: absolute;
}

#totalProgress {
  border: 1px solid #a2a6ac;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
}

#totalProgress:hover {
  cursor: pointer;
}

#progressBar {
  position: absolute;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 5px #3b8cf8, 0 0 1px #3b8cf8, 0 0 1px #3b8cf8,
    0 0 1px #3b8cf8, 0 0 1px #3b8cf8, 0 0 1px #3b8cf8, 0 0 1px #3b8cf8;
  color: #ffffff;
}

#progressBar:hover {
  cursor: pointer;
}

#progressAni {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -2px;
  background-image: url("./music/note.gif");
  background-size: 100% 100%;
  top: 5px
}

#rollTime {
  margin-left: 15px;
}

#totalTime {
  margin-right: 25px;
}


#progressDiv .times {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: blueviolet;
}

#progressDiv #voicIcon {
  width: 18px;
  height: 18px;
  background-image: url(./music/voice.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu {
  display: flex;
  margin-top: 20px;
}

#menu_1 {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#menu_2 {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.buttons {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#pre {
  left: 40px;
  background: url("./music/audio.png");
  background-position: 0px -80px;
  background-repeat: no-repeat;
}

#pre:hover {
  background: url("./music/audio.png");
  background-position: 0px -120px;
  background-repeat: no-repeat;
}

#startStop {
  left: 80px;
}

.start {
  background: url("./music/audio.png");
  background-position: 0px -160px;
  background-repeat: no-repeat;
}

.start:hover {
  background: url("./music/audio.png");
  background-position: 0px -200px;
  background-repeat: no-repeat;
}

.stop {
  background: url("./music/audio.png");
  background-position: 0px -240px;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.stop:hover {
  background: url("./music/audio.png");
  background-position: 0px -280px;
  background-repeat: no-repeat;
}

#next {
  left: 120px;
  background: url("./music/audio.png");
  background-position: 0px -320px;
  background-repeat: no-repeat;
}

#next:hover {
  background: url("./music/audio.png");
  background-position: 0px -360px;
  background-repeat: no-repeat;
}

#playType {
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.buttons_lbxh {
  background: url("./music/audio.png");
  background-position: 0px -400px;
  background-repeat: no-repeat;
}

.buttons_lbxh:hover {
  background: url("./music/audio.png");
  background-position: 0px -440px;
  background-repeat: no-repeat;
}

.buttons_dqxh {
  background: url("./music/audio.png");
  background-position: 0px -480px;
  background-repeat: no-repeat;
}

.buttons_dqxh:hover {
  background: url("./music/audio.png");
  background-position: 0px -520px;
  background-repeat: no-repeat;
}

#lyricDisplay>#lyricUl {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: top 0.3 linear;
}

#lyricLI {
  list-style: none;
  height: 20px;
  line-height: 20px;
  color: rgb(247, 80, 72);
  text-align: center;
  font-size: 12px;
}

#lyricLI.active {
  color: rgb(9, 226, 161);
  font-size: 14px;
}

#lyricTitle {
  margin-bottom: 20px;
}

#voice {
  display: flex;
  align-items: center;
}

#volumeChange {
  width: 100px;
  height: 5px;
}

#insTime {
  position: absolute;
  top: -11px;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  color: #ec07ec;
}

#lyricTip {
  font-size: 14px;
}

#head,
#footer {
  width: 100%;
  height: 30px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#head li,
#footer li {
  list-style: none;
  float: left;
  margin-right: 30px;
  font-size: 15px;
  color: gray;
}